<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Category
      </h1>
      <ol class="breadcrumb">
        <li><a href="admin/manage-category"><i class="fa fa-dashboard"></i> Home</a></li>     
        <li class="active">Manage Category</li>
      </ol>
    </section>
    <section class="content">
      <h1>Manage Category Works!!!</h1>
      <h1>Manage Category Works!!!</h1>
      
      <h1>Manage Category Works!!!</h1>
      
      <h1>Manage Category Works!!!</h1>
      <h1>Manage Category Works!!!</h1>
      
      <h1>Manage Category Works!!!</h1>
      <h1>Manage Category Works!!!</h1>
      <h1>Manage Category Works!!!</h1>
      <h1>Manage Category Works!!!</h1>
      <h1>Manage Category Works!!!</h1>
    </section>
</div>
